*, *:before, *:after {
  box-sizing: border-box;
}

.conversationMessages {
    height: 300px;
    background-color: lightBlue;
}

.conversationTabList {
    border: 2px solid grey;
    background-color: grey;
}

.conversationTab {
    background-color: lightGreen;
    border: 1px solid green;
    margin: 0 0 0 10px;
    cursor: pointer;
}
